@tailwind base;
@tailwind components;
@tailwind utilities;
/*top*/
header{
  background-color: #fdfdfd;
  height: 60px;
  width: 100vw;
  display: flex;
  align-items: center;
  position: fixed;
  z-index: 10;
  padding: 10px 20px;
  box-shadow: 0 4px 2px -2px gray;
  border-bottom: 15px solid #ABDFDF;


}

.fit-ex{
  display: flex;
  margin: 0 0 0 20px;
}
.fit-ex .top-fit{
  width: 60vw; 
  margin: 0;
  padding: 0;
  margin: 20px 0 0 0;
  overflow: hidden;
  position: relative;
}
.fit-ex .ex1{
  padding: 0;
  margin: 0 30px 30px 30px; 
}
.fit-ex .title1{
  margin: 0;
  padding: 0;
  font-weight: bold;
  font-size: 18px;
}
.fit-ex .text1{
  width: 40vw; 
  margin: 10px 0 0;
  padding: 0;
  font-size:1.7vw;
}
.rap-ex{
  display: flex;
  margin: 0 0 0 20px;
}
.rap-ex .rap-fit{
  width: 60vw; 
  margin: 0;
  padding: 0;
  margin: 20px 0 0 0;
  overflow: hidden;
  position: relative;
}
.rap-ex .ex2{
  padding: 0;
  margin: 0 30px 30px 30px; 
}
.rap-ex .title2{
  margin: 0;
  padding: 0;
  font-weight: bold;
  font-size: 18px;
}
.rap-ex .text2{
  width: 40vw; 
  margin: 10px 0px 0 0;
  padding: 0;
  font-size:1.7vw;
}
header .logo{
  font-size: 20px;
  margin-left: 20px;
  font-weight: bold;
}
.header-underline{
  height: 5px;
  width: 100vw;
  background-color: #868686;  
}
.ground-underline{
  height: 80px;
  width: 100vw;
  background-color: #ffffff;
}
.top-min {
  width: 100vw; 
  height: auto;
  overflow: hidden; 
}
 .rap-fit {
  width: 40vw;
  margin-left: 5vw;
  object-fit:cover;  
}
header ul{
  width: 100vw;
  display: flex;
  justify-content: space-between;
}
.header-right{
  display: flex;
  margin-right: 10px;
}
.header-right li{
  margin-left: 10px;
  padding: 5px;
  font-weight:500;
}
.header-right li:hover{
  background-color: #ABDFDF;
}
.last-line{
  width: 100vw;
  height: 200px;
  background-color: #c1bdbd;
}

/*login*/
.logunder {
  height: 100vh;
  width: 100vw;
  background-image: url('login/login_background.png');
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  display: flex;
  align-items: center;
  justify-content: center;
}



.log {
  width: 50%;
  height: 100%; /* Change this to auto for flexibility */
  border-radius: 20px;
  justify-content: center;
  font-weight: 600;
  font-size: 2.5vw;
  display: flex; 
  flex-direction: column; 
  align-items: center; /* Center align children horizontally */
}
.inputfield{
  align-items: center;
  text-align: center;
}

label {
  margin: 10px 0; /* Add margin for spacing */
  font-size: 1vw; /* Increase font size for visibility */
  color: black;
}

.kai {
  margin-bottom: 5vw;
}


.addition {
  font-size: 1.2vw;
  margin-top: 2vw; 
  text-align: center; 
}
.login-button {
  background-color: #5f989c;
  color: white;
  border: 2px solid #41bbd0;
  border-radius: 5px;
  padding: 8px 15px; 
  font-size: 1vw; 
  cursor: pointer;
  transition: background-color 0.3s, border-color 0.3s;
  width: 50%; 
  height: 4vw; 
  margin-top: 2vw; 
  text-align: center;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}

.login-button:hover {
  background-color: white;
  color: #22616c;
  border-color: #41bbd0;
}

input[type="logintext"],
input[type="loginpassword"] {
  height: 3vw;  
  width: 100%;  
  font-size: 1.8vw;
  align-content: center; 
}

/*new account*/
.newunder{
  height: 100vw;
  width: 100vw;
  background:#6FAAAA;
  display:flex;
  align-items: center;
  justify-content: center;
}

.new{
  width: 50%;
  height: 60%; 
  border-radius: 20px;
  justify-content: center;
  font-weight: 600;
  font-size: 2vw;
  display: flex; 
  flex-direction: column; 
  align-items: center; /* Center align children horizontally */
  
}

input[type="text"],
input[type="password"],
input[type='email']{
  height:3vw;
  width:100%;
  font-size: 1.8vw;
}
/*home*/
.LeftSelection{
  height: 100vw;
  width: 20%;
  background-color:#73a6a7;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
  align-items: center;
  justify-content: center;
}
.Selection{
  font-size: 2.5vw;
  margin: 5vw 0 0 4vw;
}

.home-under{
  display:flex;
}
.home-rightunder{
  width: 80vw;
  height: 98vw;
  border-radius: 10px;
  background-color: #ffffff;
  justify-content: center;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
  font-weight: 600;
  font-size: 1.8vw;
  margin: 1vw 1vw 1vw 1vw;
}
input {
  margin-bottom: 3%;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 40px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
  background-color: #ffffff;
  width: 35%;
  margin:0.5vw 0.5vw ;
  height: 10px;

}