.header-container {
    display: flex;
    align-items: center;
    justify-content: space-between;
    list-style-type: none;
    padding: 10px 20px;
    margin: 0;
    box-sizing: border-box;
  }

  .logo {
    flex: 1;
    font-size: 24px;
  }

  .hamburger {
    cursor: pointer;
    font-size: 24px;
    padding: 10px;
  }

  .header-right {
    display: flex;
    gap: 20px;
  }

  .main-content {
    display: flex;
    height: calc(100vh - 60px);
    margin-top: 10px;
  }

  .LeftSelection {
    position: relative;
    top: 0;
    left: 0;
    width: 0;
    height: 100%;
    overflow: hidden;
    background-color: #f0f0f0;
    transition: width 0.3s ease-in-out;
  }

  .LeftSelection.open {
    width: 250px;
  }

  .Selection {
    padding: 20px;
  }

  .RightContent {
    flex: 1;
    background-color: #fafafa;
    padding: 40px; /* Padding around the RightContent */
  }

  .dropdown-container {
    display: flex;
    justify-content:left; 
    align-items: center;
    margin-bottom: 20px;
  }

  .dropdown-item {
    flex: 1;
    max-width: 120px; /* Width of each input field */
    padding: 5px; /* Padding inside input fields */
    font-size: 7x; /* Font size */
    box-sizing: border-box;
  }

  .search-input {
    margin-bottom: 10px;
    padding: 6px;
    width: 100%;
    font-size: 14px;
  }

  .header-right li {
    list-style: none;
  }

  .kai {
    margin: 10px 0;
  }